### DotnetCore ###
# .NET Core build folders
bin/
obj/
.idea
FaceAnalyzer.Api/appsettings.Development.json
uploaded-files
*.DotSettings
*.user
FaceAnalyzer.sln.DotSettings.user

# Sqlite files
**/*.db 
FaceAnalyzer.ConsolePlayground/

# dotnet ef files
efbundle
